<div>
    <% if perfil_signed_in? %>
      <%= link_to 'Meu Perfil', edit_perfil_registration_path, :class => 'navbar-link' %> 
      <%= link_to "Novo Post", new_post_path, :class => 'navbar-link'  %>
    <% end %>
</div>

<h1>Mural</h1>

<%= form_with scope: :post, url: mural_index_path, local: true do |form| %>
    <p>
    <%= form.collection_select :animal, ['Cachorro', 'Gato', 'Outros'], :to_s, :to_s, :include_blank => true, id: :animal%>
    </p>

    <p>
    <%= form.submit 'Filtrar' %>
    </p>
<% end %>

<!-- Caso nao exista posts -->
<% if !@posts.any? %>
    <p>
        Nenhum post cadastrado por enquanto.
    </p>
<% end %>

<% if @comment.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "erro") %> impedem que o comentario seja gravado no banco de dados:</h2>
    
        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>

<!-- #Caso exista post-->
<div id="posts">
    <%@posts.each do |post|%>
        <%= render 'posts/post', post: post %>
    <%end%>
</div>