<div>

    <p>
    <strong>Autor:</strong>
    <%= link_to post.perfil.name, perfil_path(post.perfil) %>
    </p>

    <p>
    <strong>Título:</strong>
    <%= post.titulo %>
    </p>
    
    <p>
    <strong>Descrição:</strong>
    <%= post.descricao %>
    </p>

    <p>
    <strong>Tipo:</strong>
    <%= post.tipo %>
    </p>

    <p>
    <strong>Local:</strong>
    <%= post.local %>
    </p>

    <p>
    <%= post.curtidas.nil? ? 0 : post.curtidas %> Curtida(s)
    </p>

    <p>
    <strong>Criado em:</strong>
    <%= post.created_at.strftime("%d / %m / %Y") %>
    </p>

    <% if current_perfil == post.perfil%>
        <%=link_to "Editar post", edit_post_path(post.id) %>
    <% end %>
    
    <% if post.encontrado == '1' %>
        <p>PET ENCONTRADO</p>
    <% end %>
    
</div>