<h1>Edição de Post</h1>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "erro") %> impedem que o post seja gravados no banco de dados:</h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @post) do |form| %>
  <p>
    <%= form.label :titulo %><br>
    <%= form.text_field :titulo %>
  </p>
 
  <p>
    <%= form.label :descricao %><br>
    <%= form.text_field :descricao %>
  </p> 

  <p>
    <%= form.label :local %><br>
    <%= form.text_field :local %>
  </p> 

  <p>
    <b>Você perdeu ou encontrou um pet?</b>
      <%= form.radio_button :tipo, 'perdido', :checked => true %> Pet perdido
      <%= form.radio_button :tipo, 'encontrado' %> Pet encontrado<br />
  </p>
  
  <p>
    <b>Este pet foi encontrado por você (caso tenha perdido) ou pelo dono (caso tenha encontrado)?</b>
      <%= form.check_box :encontrado %> Sim
  </p>

  <%= form.hidden_field :curtidas, :value => @post.curtidas.nil? ? 0 : @post.curtidas %>

  <p>
    <%= form.submit 'Editar' %>
  </p>

<% end %>

<%= button_to "Deletar post", post_path(@post.id), :method => :delete %>