<h2>Post</h2>

<p>
  <strong>Título:</strong>
  <%= @post.titulo %>
</p>
 
<p>
  <strong>Descrição:</strong>
  <%= @post.descricao %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @post.tipo %>
</p>

<p>
  <strong>Local:</strong>
  <%= @post.local %>
</p>

<p>
  <strong>Criado em:</strong>
  <%= @post.created_at.strftime("%d / %m / %Y") %>
</p>


<% if @post.encontrado == '1' %>
  <p>PET ENCONTRADO</p>
<% end %>

<%= link_to 'Voltar para o mural', mural_index_path, :class => 'navbar-link' %> 