<p>
  <strong>Título:</strong>
  <%= @post.titulo %>
</p>
 
<p>
  <strong>Descrição:</strong>
  <%= @post.descricao %>
</p>

<p>
<<<<<<< HEAD
  <strong>Animal:</strong>
  <%= @post.animal %>
</p>
=======
  <strong>Tipo:</strong>
  <%= @post.tipo %>
</p>

<%= link_to 'Voltar para o mural', mural_index_path, :class => 'navbar-link' %> 
>>>>>>> main
