<p>
  <strong>Título:</strong>
  <%= @post.titulo %>
</p>
 
<p>
  <strong>Descrição:</strong>
  <%= @post.descricao %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @post.tipo %>
</p>

<p>
  <strong>Local:</strong>
  <%= @post.local %>
</p>

<%= link_to 'Voltar para o mural', mural_index_path, :class => 'navbar-link' %> 